This notebook add economic features and imputates data

In [18]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('final_tuik.csv')

# Find columns with all empty values
empty_columns = df.columns[df.isnull().all()]

# Print the empty columns
print("Columns with all empty values:", empty_columns.tolist())

Columns with all empty values: ['tuitionFee', 'universityFoundingYear', 'facultyFoundingYear', 'revenue', 'tuitionFeeIncrease']

In [19]:

# Define the data for base salary, inflation, and growth by year
base_salary_by_year = {
    2019: 2103,
    2020: 2103,   
    2021: 2825,
    2022: 5500,
    2023: 11402,
    2024: 17002
}

inflation_by_year = {
    2019: 11.8,
    2020: 14,
    2021: 36,
    2022: 64,
    2023: 64,
    2024: 64
}

growth_by_year = {
    2019: 0.7,
    2020: 1.8,    
    2021: 11.6,
    2022: 5.4,
    2023: 3.8,
    2024: 2.7
}

# Open the CSV file
df = pd.read_csv('final_tuik.csv')

# Add the new columns based on the academic year
df['base_salary_by_year'] = df['academicYear'].map(base_salary_by_year)
df['inflation_by_year'] = df['academicYear'].map(inflation_by_year)
df['growth_by_year'] = df['academicYear'].map(growth_by_year)

# Save the updated DataFrame to a new CSV file
df.to_csv('updated_final_tuik.csv', index=False)

# Display the updated DataFrame
df.head()

,academicYear,universityName,universityType,faculty,departmentName,idOSYM,programType,language,scholarshipRate,quota,...,totalStudentNumber,Urap_Rank,Urap_Score,Estimated Fee,avg_monthly_income_group,Time for Graduates to Find a Job,employment_rate,base_salary_by_year,inflation_by_year,growth_by_year
0,2024,İBN HALDUN ÜNİVERSİTESİ,vakıf,yönetimbilimlerifakültesi,i̇şletme,208610078,EA,İngilizce,100.0,8,...,861.0,112.0,492.920000,0.0,0.0,18.5,74.0,17002,64.0,2.7
1,2023,İBN HALDUN ÜNİVERSİTESİ,vakıf,yönetimbilimlerifakültesi,i̇şletme,208610078,EA,İngilizce,100.0,8,...,861.0,123.0,494.510000,0.0,0.0,18.5,74.0,11402,64.0,3.8
2,2022,İBN HALDUN ÜNİVERSİTESİ,vakıf,yönetimbilimlerifakültesi,i̇şletme,208610078,EA,İngilizce,100.0,10,...,861.0,145.0,392.554937,0.0,0.0,19.8,74.4,5500,64.0,5.4
3,2021,İBN HALDUN ÜNİVERSİTESİ,vakıf,yönetimbilimlerifakültesi,i̇şletme,208610078,EA,İngilizce,100.0,10,...,861.0,148.0,266.210000,0.0,0.0,19.8,74.4,2825,36.0,11.6
4,2020,İBN HALDUN ÜNİVERSİTESİ,vakıf,yönetimbilimlerifakültesi,i̇şletme,208610078,EA,İngilizce,100.0,10,...,861.0,136.0,260.440000,0.0,0.0,19.8,74.4,2103,14.0,1.8

In [20]:
# Copy the values from 'Estimated Fee' to 'tuitionFee'
df['tuitionFee'] = df['Estimated Fee']

# Drop the 'Estimated Fee' column
df.drop(columns=['Estimated Fee'], inplace=True)

# Display the updated DataFrame
# df.head()
print(df.isnull().sum())

academicYear                            0
universityName                          0
universityType                          0
faculty                                 0
departmentName                          0
idOSYM                                  0
programType                             0
language                                0
scholarshipRate                     31241
quota                                   0
occupiedSlots                           0
tuitionFee                              0
universityFoundingYear              65281
facultyFoundingYear                 65281
universityLocation                      0
universityRegion                        0
profCount                               0
assoCount                               0
docCount                                0
baseRanking                             0
topRanking                              0
avgAdmissionRanking(TYT)                0
baseAdmissionRanking(TYT)               0
stdDeviationStudents                    0
revenue                             65281
outOfCityStudentRate                    0
totalPreference                         0
top1PreferenceRatio                     0
avgOrderofPreference                    0
tuitionFeeIncrease                  65281
avgAdmittedStudentPrefOrder             0
top1AdmittedRatio                       0
top3AdmittedRatio                       0
top10AdmittedRatio                      0
admittedTotalPref                       0
admittedTotalDepartmentPref             0
currentStudentCount                     0
baseScore                              33
topScore                               31
totalForeignStudents                  295
totalStudentNumber                    295
Urap_Rank                            3579
Urap_Score                           3579
avg_monthly_income_group             7375
Time for Graduates to Find a Job     7375
employment_rate                      7375
base_salary_by_year                     0
inflation_by_year                       0
growth_by_year                          0
dtype: int64

In [21]:
non_numeric_columns = df.select_dtypes(exclude=['number']).columns
print("Non-numeric columns:", non_numeric_columns.tolist())

Non-numeric columns: ['universityName', 'universityType', 'faculty', 'departmentName', 'programType', 'language', 'universityLocation', 'universityRegion', 'top1AdmittedRatio', 'top3AdmittedRatio', 'top10AdmittedRatio', 'Time for Graduates to Find a Job', 'employment_rate']

In [22]:

# Calculate revenue for 'vakıf' university types
df.loc[df['universityType'] == 'vakıf', 'revenue'] = df['tuitionFee'] * df['occupiedSlots']

# Find and drop columns with all empty values
empty_columns = df.columns[df.isnull().all()]
df.drop(columns=empty_columns, inplace=True)

print(df.isnull().sum())

academicYear                            0
universityName                          0
universityType                          0
faculty                                 0
departmentName                          0
idOSYM                                  0
programType                             0
language                                0
scholarshipRate                     31241
quota                                   0
occupiedSlots                           0
tuitionFee                              0
universityLocation                      0
universityRegion                        0
profCount                               0
assoCount                               0
docCount                                0
baseRanking                             0
topRanking                              0
avgAdmissionRanking(TYT)                0
baseAdmissionRanking(TYT)               0
stdDeviationStudents                    0
revenue                             31839
outOfCityStudentRate                    0
totalPreference                         0
top1PreferenceRatio                     0
avgOrderofPreference                    0
avgAdmittedStudentPrefOrder             0
top1AdmittedRatio                       0
top3AdmittedRatio                       0
top10AdmittedRatio                      0
admittedTotalPref                       0
admittedTotalDepartmentPref             0
currentStudentCount                     0
baseScore                              33
topScore                               31
totalForeignStudents                  295
totalStudentNumber                    295
Urap_Rank                            3579
Urap_Score                           3579
avg_monthly_income_group             7375
Time for Graduates to Find a Job     7375
employment_rate                      7375
base_salary_by_year                     0
inflation_by_year                       0
growth_by_year                          0
dtype: int64

In [23]:

# Ensure the columns are numeric
df['employment_rate'] = pd.to_numeric(df['employment_rate'], errors='coerce')
df['Time for Graduates to Find a Job'] = pd.to_numeric(df['Time for Graduates to Find a Job'], errors='coerce')
df['avg_monthly_income_group'] = pd.to_numeric(df['avg_monthly_income_group'], errors='coerce')

# Fill missing values in the employment_rate column with the mean
df['employment_rate'] = df['employment_rate'].fillna(
    df.groupby('academicYear')['employment_rate'].transform('mean')
)

# Fill missing values in the Time for Graduates to Find a Job column with the mean
df['Time for Graduates to Find a Job'] = df['Time for Graduates to Find a Job'].fillna(
    df.groupby('academicYear')['Time for Graduates to Find a Job'].transform('mean')
)

# Fill missing values in the avg_monthly_income_group column with the mean
df['avg_monthly_income_group'] = df['avg_monthly_income_group'].fillna(
    df.groupby('academicYear')['avg_monthly_income_group'].transform('mean')
)

print(df['avg_monthly_income_group'].isnull().sum())

0

In [24]:
print(df.isnull().sum())

academicYear                            0
universityName                          0
universityType                          0
faculty                                 0
departmentName                          0
idOSYM                                  0
programType                             0
language                                0
scholarshipRate                     31241
quota                                   0
occupiedSlots                           0
tuitionFee                              0
universityLocation                      0
universityRegion                        0
profCount                               0
assoCount                               0
docCount                                0
baseRanking                             0
topRanking                              0
avgAdmissionRanking(TYT)                0
baseAdmissionRanking(TYT)               0
stdDeviationStudents                    0
revenue                             31839
outOfCityStudentRate                    0
totalPreference                         0
top1PreferenceRatio                     0
avgOrderofPreference                    0
avgAdmittedStudentPrefOrder             0
top1AdmittedRatio                       0
top3AdmittedRatio                       0
top10AdmittedRatio                      0
admittedTotalPref                       0
admittedTotalDepartmentPref             0
currentStudentCount                     0
baseScore                              33
topScore                               31
totalForeignStudents                  295
totalStudentNumber                    295
Urap_Rank                            3579
Urap_Score                           3579
avg_monthly_income_group                0
Time for Graduates to Find a Job        0
employment_rate                         0
base_salary_by_year                     0
inflation_by_year                       0
growth_by_year                          0
dtype: int64

In [25]:


# Check for missing values in each column
df.fillna(0, inplace=True)

# ScholarshipRate and revenue columns have missing values devlet university types
missing_values = df.isnull().sum()
print("Missing values in each column:\n", missing_values)

Missing values in each column:
 academicYear                        0
universityName                      0
universityType                      0
faculty                             0
departmentName                      0
idOSYM                              0
programType                         0
language                            0
scholarshipRate                     0
quota                               0
occupiedSlots                       0
tuitionFee                          0
universityLocation                  0
universityRegion                    0
profCount                           0
assoCount                           0
docCount                            0
baseRanking                         0
topRanking                          0
avgAdmissionRanking(TYT)            0
baseAdmissionRanking(TYT)           0
stdDeviationStudents                0
revenue                             0
outOfCityStudentRate                0
totalPreference                     0
top1PreferenceRatio                 0
avgOrderofPreference                0
avgAdmittedStudentPrefOrder         0
top1AdmittedRatio                   0
top3AdmittedRatio                   0
top10AdmittedRatio                  0
admittedTotalPref                   0
admittedTotalDepartmentPref         0
currentStudentCount                 0
baseScore                           0
topScore                            0
totalForeignStudents                0
totalStudentNumber                  0
Urap_Rank                           0
Urap_Score                          0
avg_monthly_income_group            0
Time for Graduates to Find a Job    0
employment_rate                     0
base_salary_by_year                 0
inflation_by_year                   0
growth_by_year                      0
dtype: int64

Missing values imputated

In [26]:
non_numeric_columns = df.select_dtypes(exclude=['number']).columns

print("Non-numeric columns before conversion:", non_numeric_columns)

Non-numeric columns before conversion: Index(['universityName', 'universityType', 'faculty', 'departmentName',
       'programType', 'language', 'universityLocation', 'universityRegion',
       'top1AdmittedRatio', 'top3AdmittedRatio', 'top10AdmittedRatio'],
      dtype='object')

In [27]:
# Convert percentage columns to float
percentage_columns = ['top1AdmittedRatio', 'top3AdmittedRatio', 'top10AdmittedRatio']

for col in percentage_columns:
    df[col] = df[col].str.replace('%', '').str.replace(',', '.').astype(float) / 100

print("Non-numeric columns after conversion:", df.select_dtypes(exclude=['number']).columns)

Non-numeric columns after conversion: Index(['universityName', 'universityType', 'faculty', 'departmentName',
       'programType', 'language', 'universityLocation', 'universityRegion'],
      dtype='object')

In [29]:
# Convert dot columns to float UNKNOWNS to NaN values
dot_columns = [ 'outOfCityStudentRate', 'Time for Graduates to Find a Job', 'employment_rate']

for col in dot_columns:
    df[col] = pd.to_numeric(df[col].str.replace(',', '.'), errors='coerce')

AttributeError: Can only use .str accessor with string values!

In [30]:
print("Non-numeric columns after conversion:", df.select_dtypes(exclude=['number']).columns)

Non-numeric columns after conversion: Index(['universityName', 'universityType', 'faculty', 'departmentName',
       'programType', 'language', 'universityLocation', 'universityRegion'],
      dtype='object')

In [32]:
print(df.isnull().sum())
df.rename(columns={'Time for Graduates to Find a Job': 'Time_for_employment'}, inplace=True)

academicYear                   0
universityName                 0
universityType                 0
faculty                        0
departmentName                 0
idOSYM                         0
programType                    0
language                       0
scholarshipRate                0
quota                          0
occupiedSlots                  0
tuitionFee                     0
universityLocation             0
universityRegion               0
profCount                      0
assoCount                      0
docCount                       0
baseRanking                    0
topRanking                     0
avgAdmissionRanking(TYT)       0
baseAdmissionRanking(TYT)      0
stdDeviationStudents           0
revenue                        0
outOfCityStudentRate           0
totalPreference                0
top1PreferenceRatio            0
avgOrderofPreference           0
avgAdmittedStudentPrefOrder    0
top1AdmittedRatio              0
top3AdmittedRatio              0
top10AdmittedRatio             0
admittedTotalPref              0
admittedTotalDepartmentPref    0
currentStudentCount            0
baseScore                      0
topScore                       0
totalForeignStudents           0
totalStudentNumber             0
Urap_Rank                      0
Urap_Score                     0
avg_monthly_income_group       0
Time_for_employment            0
employment_rate                0
base_salary_by_year            0
inflation_by_year              0
growth_by_year                 0
dtype: int64

In [33]:

df.to_csv('final_dataset.csv', index=False)